body {
    font-family: Mulish;
    margin: 0;
    height: 5870px;
    width: 1600px;
    background-color: rgba(128, 128, 128, 0.274);

}
body div {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
}
.navbar {
   display: flex;
   justify-content: center;
   height: 20%;
   width: 100%;
   padding-top: 20px;
   
}
.navbar logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    margin: 10px;
    margin-left: 12%;
    gap: 10px;
    font-size: 24px;
    font-weight: ;
    color: rgba(35, 51, 72, 1);
    

}
.navbar logo div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    margin-bottom: 1px;
    padding: 2px;
    padding-bottom: 1px;
    background-color: rgba(26, 123, 235, 0.863);
    border-radius: 40px;
    font-weight: 700;
    color: white
}
.navbar logo p{
    font-weight: 700;
    color: rgb(5, 7, 8);
}
.navbar nav{
    display: flex;
    width: 50%;
    
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px;
    gap: 40px;
    padding: 0;
}
.nav li a{
    text-decoration: none;
    color: rgba(17, 16, 16, 0.904);
    font-weight: bold;
    font-size: 18px;
}
.nav li > a{
    font-weight: normal;
    color: rgba(63, 63, 63, 0.829);
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}
    
#head1{
    padding-left: 190px;
    width: 1050px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
}

.slogan1{
    font-size: 48px;
    height: 112px;
    width: 427px;
    font-weight: bold;
    padding: 0;
}
.content1{
    font-size: 21px;
    height: 96px;
    width: 448px;
    color: rgba(125, 121, 135, 1);
    padding-left: 0px;
    padding-top: 19px;
}
.btn{
    background-color: rgba(26, 123, 235, 0.863);
    border: none;
    border-radius: 30px;
    padding: 17px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
}
.head div img{
    height: 598px;
    width: 693px;

}
.element{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 115px;
    width: 70px;
    top: 40px;
    left: 0px;
    gap: 15px 17px;
    margin: 0;
}
.element div{
    height: 0px;
    width: 0px;
    background-color: rgba(26, 124, 235, 0.178);
    border-radius: 30px;
    padding: 5px;
    margin: 0;
}
    